/* .watermark{
    background:url("https://www.google.co.in/images/srpr/logo11w.png") center center no-repeat;opacity:0.6;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
} */
body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
  
    /* Full height */
    height: 50%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }